.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
.header {
  background-color: purple;
  padding: 1rem;
}
.header h2 {
  margin: 0;
  color: white;
}
.content {
  padding: 1rem;
}
.footer {
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}
